@import url('https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css');

* {
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    color: #707070
}

/*Nav and Logo*/

header{
    background: url(blog.jpg) no-repeat;
    background-size:cover;
    height: 200px;
}

.logo{
    display: inline-block;
    margin-left: 50px;
    width: 20%;
    position: relative;
    bottom: 90px;
}

.logo p{
    font-size: 40px;
    font-weight: bold;
    color: #8C93A8;
}

.logo span{
    color: #FFCAD4;
    border: 5px;
    border-color: #FFE5D9;
}

#conteiner{
    opacity: 0.9;
    background: #FFFFFF;
    width: 100%;
    height: 80px;
}

#navigation{
    display: inline-block;
    width: 70%;
    position: relative;
    bottom: 100px;
}

.top-list {
    display: flex;
    height: 40px;
    line-height: 40px;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    list-style: none;
    height: 50px;
    max-width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

ul li{
    padding: 20px;
}

ul li:last-of-type{
    margin-left: 100px;
}

ul li a{
    color:#8C93A8;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

ul li span{
    color: #FFCAD4;
    text-decoration: underline;
}

a:hover{
    color: #FFCAD4;
    text-decoration: underline;
}

/*Title*/

h1{
    color: #707070;
    text-align: center;
    padding: 50px;
}

/*Section One - Left*/

#left{
    width: 50%;
    padding-left: 10em;
    display: inline-block;
}

#left article{
    width: 80%;
}

#left article img{
    width: 100%;
    box-shadow: 3px 3px 3px 3px #b3b3b3;
}

#left article .title{
    color: #8C93A8;
    font-weight: bold;
    font-size: 22px;
    padding-top: 1em;
}

#time span{
    padding-left: 1em;
    padding-top: 1em;
    font-size: 15px;
}

#left article .text_article{
    padding: 1em 0;
    text-indent: 1em;  
    text-align: justify;
}

#left article:last-child{
    padding-top: 6em;
}

button{
    color: #8C93A8;
    padding: 5px 20px;
    border-radius: 20px;
    border-color: #8C93A8;
    font-size: 16px;
    background-color: #FFFFFF;
}

/*Aside - Section Two*/

aside{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid #8C93A8;
    padding-left: 2em;
}

aside #category{
    padding: 3em 0;
    width: 75%;
}

#category p{
    padding-top: 1em;
}

#category p a:hover{
    color: #8C93A8;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#right_up{
    padding: 3em 0;
}

#right_up h2{
    padding: 2em 0;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.row img{
    width: 50%;
    height: 89px;
}

#right_up .row .description{
    bottom: 5em;
    position: relative;
    left: 9em;
    width: 60%;
}
    
#right_down{
    padding: 2em 0;
}

#right_down h2{
    padding-bottom: 1em;
}

#right_down .tags{
    border-color: #707070;
    font-weight: 500;
    margin-bottom: 1em;
}

/*Footer*/

footer{
    height: 450px;
    position: relative;
    top: 5em;
    background-color: #F5F2F3;
}

#logo_footer,
#info,
#contacts,
form{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#info,
#contacts,
form{
    position: relative;
    top: 4em;
    left: 3em;
}

#logo_footer{
    position: relative;
    bottom: -2.5em;
    left: 2em;
}

#logo_footer p{
    font-size: 40px;
    font-weight: bold;
    color: #8C93A8;
}

#logo_footer span{
    color: #FFCAD4;
    border: 5px;
    border-color: #FFE5D9;
}

#info ul,
#contacts ul{
    text-decoration: none;
    list-style: none;
    width: 80%;
}

#info ul li,
#contacts ul li{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;

}

#info_list li a,
#contacts_list li a{
    color: #707070;
    font-weight: 400;
}

#info_list li:first-child a,
#contacts_list li:first-child a{
    font-weight: 700;
    text-decoration: underline;
}

#info_list li:first-child,
#contacts_list li:first-child{
    padding-bottom: 30px;
}

form{
    position: relative;
    top: 6em;
    left: 7em;
}

form p{
    color: #707070;
    font-weight: 500;
    padding-bottom: 10px;
}

form input{
    width: 18em;
    height: 2em;
    padding-left: 5px;
}

#social_media{
    float: right;
    position: relative;
    top: 13em;
    right: 11em;
}

#social_media li{
    text-decoration: none;
    list-style:none;
    margin:0;
    display: inline-block;
    opacity: 0.8;
}

footer #copy{
    position: relative;
    top: 8em;
    left: 38em;
    color: #707070;
    width: 20%;
    font-weight: 500;
}

